<!-- Topbar -->
<header
  class="fixed top-0 h-16 bg-[#F8F4F3] shadow-md z-10 flex items-center px-6 transition-all duration-300 ease-in-out"
  [class.left-64]="isSideBarOpen"
  [class.left-0]="!isSideBarOpen"
  [class.right-0]="true"
>
  <!-- Botón para toggle del Sidebar (ícono de hamburguesa) -->
  <button
    (click)="toggleSidebar()"
    class="mr-4 text-gray-700 hover:text-gray-900 focus:outline-none hover:bg-gray-200 rounded p-2"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"
      />
    </svg>
  </button>

  <!-- Espacio para otros elementos del Topbar (ej: título, usuario) -->
  <div class="flex-1 flex items-center justify-between">
    @if(!isSideBarOpen){
    <div class="flex gap-2 items-center">
      <h1 class="text-2xl font-semibold text-black">
        Surveillance-IA-distributed 2.0
      </h1>
    </div>
    }

    <div class="flex items-center gap-4 ml-auto">
      @for(member of teamMembers; track member){
      <div
        class="flex items-center gap-3 bg-gray-100 px-4 py-2 rounded-lg shadow"
      >
        <img
          [src]="member.avatar"
          alt="Foto de perfil"
          class="w-10 h-10 rounded-full object-cover"
        />
        <div class="flex flex-col">
          <a
            [href]="member.githubUrl"
            target="_blank"
            class="text-sm font-medium text-gray-800 hover:underline"
          >
            {{ member.name }}
          </a>
          <span class="text-xs text-gray-500">Equipo</span>
        </div>
      </div>
      }
    </div>
  </div>
</header>
